.Reviews {
  max-width: 600px;
  margin: 0 auto;
}

.Reviews h2 {
  padding: 0;
  margin-top: 30px;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-general);
}

.Reviews form {
  margin-bottom: 20px;
}

.Reviews label {
  display: block;
  margin-bottom: 10px;
}

.Reviews input,
.Reviews textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.Reviews button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  padding: 2px 120px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-button);
  color: var(--color-general);
  box-shadow: var(--color-product-shadow);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

.Reviews button:hover {
  background-color: var(--color-button-link);
}

.Reviews p {
  margin-bottom: 10px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 30px;
  background-color: var(--color-button);
  color: var(--color-general);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-backdrop);
  border-radius: 8px;
  cursor: pointer;
  transition: color var(--transition-timing) var(--transition-duration);
  z-index: 1;
}

.slider-arrow.prev {
  left: -50px;
}

.slider-arrow.next {
  right: -50px;
}

.slider-arrow:hover,
.slider-arrow:focus {
  background-color: var(--color-button-link);
}
