.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.product_button {
  border-radius: 8px;
  border: none;
  padding: 2px 80px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-button);
  color: var(--color-general);
  box-shadow: var(--color-product-shadow);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

@media screen and (min-width: 768px) {
  .product_button {
    padding: 2px 150px;
  }
}

.product_button:hover,
.product_button:focus {
  background-color: var(--color-button-link);
}

/* !---------------Product Detail-------------------------- */

.product_detail_1,
.product_detail_2 {
  border: 2px solid #c8c8c8;
  border-radius: 8px;
  padding: 10px;
}

@media screen and (min-width: 768px) {

  .product_detail_1,
  .product_detail_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product_detail_1:hover,
.product_detail_2:hover {
  cursor: pointer;
}

.product_detail_image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 10px;
  max-width: 270px;
  max-height: 215px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .product_detail_image {
    margin-right: 20px;
    max-width: 270px;
    max-height: 215px;
    border-radius: 8px;
  }
}

.product_detail_info {
  flex: 2 1 750px;
  align-self: flex-start;
}

.product_detail_info h2 {
  text-align: center;
  margin-top: 0;
  color: var(--color-general);
}

@media screen and (min-width: 768px) {
  .product_detail_info h2 {
    text-align: start;
  }
}

.product_detail_info p {
  color: var(--color-footer-link);
}

.product_detail_info h2:hover {
  text-decoration: underline;
}

/* !---------------Modal Product-------------------------- */

.modal_product {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: 100%;
  max-width: 550px;
  max-height: 630px;
  background-color: var(--background-slogan);
  border-radius: 8px;
  padding: 40px;
  margin: 0;
  z-index: 1000;
  transition: transform var(--transition-timing) var(--transition-duration);
}

@media screen and (max-width: 1200px) {
  .modal_product {
    max-width: 450px;
    max-height: 580px;
  }
}

.close-posicion {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid var(--color-backdrop);
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--color-general);
  background-color: var(--background-general);
  transition: color var(--transition-timing) var(--transition-duration);
}

.icon-modal {
  width: 20px;
  height: 20px;
  fill: currentColor;
  align-items: center;
}

.close-modal:hover,
.close-modal:focus {
  color: var(--color-nav-link);
}

/* !---------------Slider-------------------------- */

.slider-container {
  margin: 20px auto 0 auto;
  width: 400px;
  max-width: 100%;
  height: 500px;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.slider-arrow {
  position: absolute;
  top: 240px;
  width: 40px;
  height: 40px;
  background-color: var(--background-general);
  color: var(--color-general);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-backdrop);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--transition-timing) var(--transition-duration);
  z-index: 1;
}

.slider-arrow.prev {
  left: -30px;
}

.slider-arrow.next {
  right: -30px;
}

.slider-arrow:hover,
.slider-arrow:focus {
  color: var(--color-nav-link);
}

/* !---------------Modal Price-------------------------- */

.modal_price {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: 100%;
  max-width: 820px;
  max-height: 680px;
  background-color: var(--background-slogan);
  border-radius: 8px;
  padding: 40px;
  margin: 0;
  z-index: 1000;
  transition: transform var(--transition-timing) var(--transition-duration);
}

@media screen and (max-width: 1200px) {
  .modal_price {
    max-width: 780px;
    max-height: 680px;
  }
}

/* !---------------Modal overlay-------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay-body);
  z-index: 1000;
  display: none;
}

.modal-open .modal-overlay {
  display: block;
}

/* !---------------Contact Page-------------------------- */

/* .contact-page {
  margin-bottom: 10px;
}

.connection_titel-contact,
.connection_titel-work,
.connection_titel-map {
  text-align: start;
}

@media screen and (max-width: 767px) {

  .connection_titel-work,
  .connection_titel-map {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .connection_titel-contact,
  .connection_titel-work,
  .connection_titel-map {
    margin-bottom: 10px;
  }

  .connect {
    display: flex;
    gap: 60px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-page {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .connection_titel-contact,
  .connection_titel-work,
  .connection_titel-map {
    margin-bottom: 15px;
  }

  .connection_titel-work {
    margin-top: 170px;
  }
}

.connection {
  margin: 0;
  color: var(--color-general);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.connection .link {
  padding-left: 8px;
  color: var(--color-general);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition-timing) var(--transition-duration);
}

.connection .link:hover,
.connection .link:focus {
  color: var(--color-nav-link);
  border-color: var(--color-nav-link);
}

.connection-item {
  display: flex;
  align-items: center;

}

.schedule {
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: flex-start;
}

.map {
  width: 100%;
  max-width: 780px;
  height: auto;
  border: 2px solid var(--color-button);
  border-radius: 10px;
} */