.product_button {
  border-radius: 8px;
  border: none;
  padding: 2px 80px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--color-button);
  color: var(--color-general);
  box-shadow: var(--color-product-shadow);
  transition: background-color var(--transition-timing) var(--transition-duration);
}

@media screen and (min-width: 768px) {
  .product_button {
    padding: 2px 150px;
  }
}

.product_button:hover,
.product_button:focus {
  background-color: var(--color-button-link);
}